/*Containers products*/

.categories {
  margin-top: 25px;
}

.title-container {
  justify-content: space-between;
  background: white;
  padding: 1rem 0.5rem;
}

.title {
  font-size: 2rem;
  background: white;
  text-align: center;
}

.containers {
  margin: 17%;
  margin-top: 10px;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  text-align: center;
  font-family: sans-serif;
}

.item-container {
  background: white;
  position: relative;
  background: white;
  padding: 15px 12px;
  position: relative;
}

.item-container:hover {
  background: #d4d4d4;
  transition: all 0.7s ease-in-out;
}

.item-container:hover .card-img {
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

.card-item {
  cursor: pointer;
}

.buttongotoshop {
  background-color: rgb(166, 0, 0);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card-img {
  position: relative;
  max-width: 100%;
  max-height: 8rem;
  text-align: center;
}

.item-name {
  text-align: center;
  font-weight: bold;
  color: rgb(166, 0, 0);
  margin-top: 1rem;
  font-size: 0.95rem;
}

.item-name-index {
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.item-description {
  text-align: left;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  font-size: 0.95rem;
}

.add-to-cart {
  font-size: 1.5rem;
  color: rgb(166, 0, 0);
  position: absolute;
  bottom: 1rem;
  right: 0.8rem;
  cursor: pointer;
  opacity: 0;
}

.item-container:hover .add-to-cart {
  transition: all 0.7s ease-in-out;
  opacity: 1;
}

.item-price {
  color: rgb(221, 0, 0);
  text-align: left;
  margin-top: 0.5rem;
}

.imgnote {
  width: 100%;
}

/* Product index */
.bady-index {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container-index {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 90%;
  position: absolute;
  left: 0;
  top: 100px;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active-index {
  opacity: 1;
}

.index-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.index-description span {
  font-size: 12px;
  font-weight: bold;
  color: rgb(166, 0, 0);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.index-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.index-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939e;
  margin-bottom: 20px;
  display: inline-block;
}

.ssd-choose {
  margin-bottom: 20px;
}

.ssd-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.ssd-choose button:hover,
.ssd-choose button:active,
.ssd-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}

.ssd-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.ssd-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.ssd-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.index-price {
  display: flex;
  align-items: center;
}

.index-price span {
  font-size: 26px;
  font-weight: 300;
  color: rgb(221, 0, 0);
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: rgb(166, 0, 0);
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #949494;
}

/* Cart Page */
.products-container {
  max-width: 680px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product-header {
  width: 100%;
  max-width: 680px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid gray;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.products li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.product-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.remove__btn {
  margin-left: -15px;
  grid-area: 1 / 1 / 2 / 2;
}

.product__img {
  margin-left: 25px;
  grid-area: 1 / 1 / 2 / 3;
}

.product__name {
  grid-area: 1 / 2 / 2 / 4;
}

.product__price {
  grid-area: 1 / 5 / 2 / 6;
}

.product__quantity {
  grid-area: 1 / 4 / 2 / 5;
}

.product__img img {
  width: 65px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}
.product-title {
  display: flex;
  margin-left: 150px;
  justify-content: flex-start;
}
.quantity {
  display: flex;
  margin-left: 200px;
  justify-content: flex-start;
}
.price {
  display: flex;
  margin-left: 70px;
  justify-content: flex-start;
}

#main {
  margin-top: 0;
}

/* Credit table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.open-button {
  background-color: rgb(166, 0, 0);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  bottom: 23px;
  width: 280px;
}

.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px;
  z-index: 9;
}

.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.form-container .cancel {
  background-color: rgb(166, 0, 0);
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* Grid conatct*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
}

.grid-container ul {
  font-size: 15px;
  text-align: left;
  list-style: none;
  text-align: left;
}

.email {
  color: #2997ce;
}

iframe {
  width: 100%;
  height: 500px;
}

.imgcontact {
  width: 100%;
}

/* Command products  */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.coldelivery {
  -ms-flex: 50%;
  flex: 50%;
}

.colsection {
  -ms-flex: 75%;
  flex: 75%;
}

.coldelivery,
.colsection {
  padding: 0 16px;
}

input[type="text"],
select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="email"],
select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn1 {
  background-color: rgb(166, 0, 0);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn2 {
  background-color: rgb(166, 0, 0);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn1:hover {
  background-color: #949494;
}

.btn2:hover {
  background-color: #949494;
}

hr {
  border: 1px solid lightgrey;
}

/* Footer */

.footer {
  margin-top: -300px;
  background-color: #333;
  padding: 50px 20%;
  line-height: 30px;
}

.footer-top-box span,
a {
  text-decoration: none;
  margin-right: 10px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: grey;
}

.footer-top-box a:link,
.footer-top-box a:visited {
  display: block;
  color: white;
  font-size: 14px;
  transition: 0.6s;
}

.footer-top-box a:hover {
  color: rgb(166, 0, 0);
}

.footer-top-box div {
  color: white;
  font-size: 12px;
}

.footer-top-box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
