/* Navbar*/

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Slidershow*/

@media only screen and (max-width: 800px) {
  .dot {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .dot {
    display: none;
  }
}

/* Cart page */

@media screen and (max-width: 620px) {
  .product__name {
    margin-left: 15px;
    grid-area: 1 / 1 / 2 / 4;
  }

  .product__img img {
    display: none;
  }
  .basketTotalContainer {
    display: flex;
    justify-content: start;
    margin-left: 50px;
    width: 100%;
    padding: 10px 0;
  }
  .basketTotal {
    width: fit-content;
  }
  .product-title {
    display: flex;
    margin-left: 70px;
    justify-content: flex-start;
  }
  .quantity {
    display: flex;
    margin-left: 100px;
    justify-content: flex-start;
  }
  .price {
    display: flex;
    margin-left: 7px;
    justify-content: flex-start;
  }
}

/* Footer */

@media only screen and (max-width: 998px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    .footer-top-box h3 {
      font-size: 1.6rem;
    }
  }
  @media screen and (max-width: 400px) {
    .footer-top-box h3 {
      font-size: 1.4rem;
    }
  }
}

/* Footer + containers */

@media only screen and (max-width: 1790px) {
  .footer {
    margin-top: 0%;
  }
  .containers {
    margin: 0;
  }
}

@media only screen and (min-width: 800px) {
  .card {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .items-detail {
    display: block;
    width: 70vw;
    height: 70vh;
    padding: 0 4.5rem;
  }
  #details-img {
    width: 8rem;
    height: 9rem;
  }
  #detail-title {
    font-size: 1.7rem;
    margin-top: 0rem;
  }
  #detail-price,
  #delievery {
    margin-top: 0.5rem;
  }
  #spec,
  .items-detail ul {
    display: none;
  }
  .image-container {
    padding: 1rem;
    margin-top: 1rem;
  }
  .containers {
    margin: 0;
  }
}

/* Command products  */

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
}

/* Product index */

@media (max-width: 940px) {
  .container-index {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
